#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
    height:400px;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: lightblue;
}
#direct{
    text-align: center;
}
.btn{
    font-family: "Permanent Marker", cursive;
    border:solid 1px;
    border-radius: 25px;
    cursor: pointer;
    height:40px;
    width:80px;
    background-color: lightblue;
}